{% extends 'partial/layout.html' %}
    {% load crispy_forms_tags %}

    {% block header %}
    {% include "partial/header.html" %}
    {% endblock header %}

    {% block jobs %}
        <form method="post">
          {% csrf_token %} 
          {{ form|crispy  }}
          <button type="submit">Signup</button>
          </form>
         

    {% endblock jobs %}
      
    
        {% block featuredcandidates %}
        {% include "partial/featuredcandidates.html" %}
        {% endblock featuredcandidates %}


    
        {% block popularcompany %}
        {% include "partial/company.html" %}
        {% endblock popularcompany %}

        {% block jobsearch %}
        {% include "partial/jobsearch.html" %}
        {% endblock jobsearch %}

       {% block testimonial %}
       {% include "partial/testimonial.html" %}
       {% endblock testimonial %}
   
         {% block footer %}
         {% include "partial/footer.html" %}
         {% endblock footer %}

    {% block script %}
    {% include "partial/script.html" %}
    {% endblock script %}

