[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.2"
pylint = "*"
pillow = "*"
six = "==1.13.0"
django-crispy-forms = "==1.8.1"
pypdf2 = "*"
python-dotenv = "*"
django-subscribe = "==0.1.6"
django-six = "==1.0.4"

[requires]
python_version = "3.7"
